@import "../../assets/Pallet.module.css";

.taskContainer {
    display: flex;
    margin-top: 10rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.taskCard {
    display: flex;
    cursor: pointer;
    align-items: center;
    min-width: 40rem;
    margin: 1rem 0;
    padding: 1rem;
}

.taskCard:before {
    position: absolute;
    content: '.';
    color: var(--primary-dark);

}

.taskCard:hover:before {
    content: '.';
    background-color: var(--primary-green);
    color: var(--primary-green);
    height: 50px;
}

.taskTitleAndDescription {
    display: flex;
    flex-direction: column;
    min-width: 15rem;
    min-height: 3rem;
    color: var(--primary-green);
}

.taskTitleAndDescription p {
    padding-top: 0.5rem;
    color: var(--primary-light);
}

.taskInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10rem;
    min-height: 3rem;
    margin: 0 0.5rem;
}

.taskInfo span {
    color: var(--primary-light);
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.taskInfo:first-of-type span {
    background: none;
}

.taskInfo:nth-of-type(3) span {
    background-color: var(--tag);
}

.pagination {
    position: absolute;
    top: 50rem;
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
    cursor: pointer;
}

.pagination li a {
    text-decoration: none;
    color: var(--primary-green);
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination li.active a {
    background-color: var(--primary-green);
    color: var(--primary-dark);
    font-weight: bold;
}

.pagination li a:hover {
    background-color: var(--primary-green);
    color: var(--primary-dark);
    font-weight: bold;
}

.customCheckbox {
    color: var(--primary-green) !important;
}

.noPriority {
    display: none;
}

.lowPriority {
    background-color: var(--low-priority);
}

.mediumPriority {
    background-color: var(--medium-priority);
}

.highPriority {
    background-color: var(--high-priority);
}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.addButton {
    color: var(--primary-green);
}

